
.subscribe {
	display: block;
	width: 100%;
	padding: 30px 10% 17px;

	overflow: hidden;
	background: url("../img/mail_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-style: solid;
	border-image-slice: 27 27 27 27;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("../img/border.png");

	&--title {
		font-weight: bold;
		text-align: center;
		font-size: 18px;
	}


	&--letter {
		display: block;
		width: 100%;
		height: 120px;
		margin-top: 20px;
		background: url("../img/mail.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	&--input {
		width: 100%;
		height: 40px;
		text-align: center;
	}

	&--button {
		width: 100%;
		height: 40px;
		margin: 20px 0 10px 0;
		padding-top: 8px;

		font-weight: 300;
		font-size: 20px;
	}

	&--icons {
		display: block;
		margin: 0 auto;
		width: 100px;

		&--rss::before,
		&--google::before,
		&--rss,
		&--google {
			display: inline-block;
			height: 45px;
			width: 45px;

			color: #dc4a37;
			font-size: rem-calc(45);
		}
		&--rss {
			margin-right: 10px;
		}
	}

	&__post {
		padding-left: 6%;
		@media #{$medium-only} {
			padding: 20px 2% 15px;
		}
			.subscribe{
				&--title {
					font-size: 1.286rem;
					float: right;
					text-transform: uppercase;
					@media #{$small-only} {
						width: 100%;
					}
				}
				&--letter {
					width: 45%;
					margin-top: 0;
						@media #{$medium-only} {
							width: 40%;
						}
						@media #{$small-only} {
							width: 100%;
						}
				}
				&--input, &--button, &--title {
					max-width: 235px;
					@media #{$small-only} {
						max-width: 100%;
						width: 100%;
					}
				}
				&--icons {
					margin-left: 12%;
					@media #{$small-only} {
						margin-left: 40%;
						width: 100%;
					}
				}
			}
	}
}
