doctype html
html(lang="ru")
	|<?php
	|  include 'functions.php';
	|  head();
	|?>

	body
		|<?php label(); ?>
		.page_wrapper
			|<?php page_header(); ?>
			main

				|<?php adv(); ?>
				.row
					.l-content.competition.small-20.medium-12.large-13.left
						h5.competition--greating Приветствую вас, друзья!

						span Предлагаю вам поучаствовать в конкурсах, которые проводятся на моем блоге.

						.competition--item
							i.icon-Forma1.left
							h3.competition--item--name Денежный конкурс «Лучший комментатор месяца» <br>
							h4.competition--item--conditions.mb20 3 призовых места, проводится ежемесячно.
							p
								b Суть конкурса:
								| комментировать статьи на моем блоге со смыслом и по теме.
								| Самые активные комментаторы, которые оставили наибольшее количество отзывов (комментариев) за прошедший месяц 
								| будут получать денежные призы на свои электронные кошельки — Яндекс Деньги, Payeer:

							ul.competition--item--places
								li 
									em 1 место — 
									b 300 руб
								li 
									em 2 место — 
									b 200 руб
								li
									em 3 место — 
									b 100 руб

							p
								| Убедительная просьба — уважайте друг друга и мой труд.
								| Не нужно набивать посты бессмысленными фразами. 
								| Если вам есть что сказать и прокомментировать — всегда рад. 
								| Денег на конкурс мне не жалко. В первых числах каждого месяца я буду подбивать итоги за прошедший месяц. 
								| Лучших комментаторов вы можете видить каждый день в разделе «ТОП КОММЕНТАТОРОВ», который находиться в сайтбаре справа.

						.competition--item
							i.icon-sprite_pancakes.left
							h3.competition--item--name Конкурс от партнеров: «Лучший комментарий по проекту Блинный Дом 2» <br>
							h4.competition--item--conditions.mb20 3 призовых места
							p 
								| Если вы участник проекта Блинный Дом 2 – у вас есть замечательная 
								| возможность выиграть 500 руб только за сам комментарий по проекту, 
								| который нужно оставлять в статье «Блинный Дом – вечная игра с выводом денег».

							ul.competition--item--places
								li 
									em 1 место — 
									b 300 руб
								li 
									em 2 место — 
									b 200 руб
								li
									em 3 место — 
									b 100 руб

							p
								b Сроки: 
								| до конца Мая 2015г. Объявление победителей будет проходить 1 Июня.
							p
								b Суть конкурса: 
								| Вам нужно написать отзыв в комментариях под статьей по проекту «Блинный дом 2». 
								| Чем лучше отзыв, информативней, эмоциональней и т.д. – тем больше у вас шансов на победу. 
								| Можете рассказать историю о том, как вы попали на проект, как начали играть, 
								| какие планы на игру, что вы думаете о самом проекте. В общем, вся информация 
								| о вас и о проекте на которую у вас хватит фантазии.

							b Правила:
							ol
								li Вы должны поделиться статьей в одной из социальных сетей. Для этого используйте кнопки соц.сетей в конце статьи
								li Вы должны подписаться на получение новостей с блога tips-life.ru. Сделать это можно внизу статьи.
								li В комментариях нужно указать ваш логин в игре Блинный дом 2
								li Вы должны быть активным игроком (пополнить счет в игре минимум от 50 руб или иметь активных рефералов).

							h4 На сегодня все. С вами был Максим Козлов.


					.l-sidebar.small-20.medium-7.large-6.columns.right
						|<?php searchbar(); ?>
						|<?php subscribe(); ?>
						|<?php tags(); ?>
						|<?php top_authors(); ?>
						|<?php youtube_subscribe(); ?>
			|<?php footer(); ?>









