doctype html
html(lang="ru")
	|<?php
	|  include 'functions.php';
	|  head();
	|?>

	body
		|<?php label(); ?>
		.page_wrapper
			|<?php page_header(); ?>
			main

				|<?php adv(); ?>
				.row
					.l-content.articles.small-20.medium-12.large-13.left
						.article
							h3.article--title Как начинать работу с понедельника
							ul
								li
									i.icon-art_author
									.article--info
										span Автор: 
										a.article--info--anchor Максим Козлов
								li
									i.icon-art_date
									.article--info
										span Дата: 
										b.article--info--anchor 2015-04-27 в 21:30
							.article--media
								.article--media--logo
								img(src="img/article_photo.jpg", alt="")
							ul.article--info__bottom
								li
									i.icon-art_heading
									.article--info
										span Рубрика: 
										a(href="#").article--info--anchor Полезные советы
								li
									i.icon-art_comments
									.article--info
										span Комментарии: 
										b.article--info--anchor 136
							- for (var x = 0; x < 10; x++)
								p
									| Приветствую вас, друзья! <br>
									| Сегодня отличный день, несмотря на то, что понедельник, 
									| который для многих просто ужасный своим началом рабочей недели. 
									| Именно в понедельник родился и я, но это уже другая история. 
									| Сегодня заказал дизайн блога, так что скоро вы увидите прекрасный 
									| новый вид блога, целью которого есть нести помощь людям в виде 
									| советов на различную тематику. Так что, ждем.
							form.subscribe.subscribe__post.mb20
								h3.subscribe--title.mb20 Получать новые статьи блога на почту
								.subscribe--letter.left
								input.subscribe--input.mb20.right(placeholder="Введите свой e-mail", type="text")
								button.subscribe--button.button.right Подписатся
								.subscribe--icons.left
									a.subscribe--icons--rss.icon-mail_g
									a.subscribe--icons--google.icon-mail_rss

					.l-sidebar.small-20.medium-7.large-6.columns.right
						|<?php searchbar(); ?>
						|<?php subscribe(); ?>
						|<?php tags(); ?>
						|<?php top_authors(); ?>
						|<?php youtube_subscribe(); ?> 
			|<?php footer(); ?>

