.article.mb20
	h3.article--title Как начинать работу с понедельника
	ul
		li
			i.icon-art_author
			.article--info
				span Автор: 
				a.article--info--anchor Максим Козлов
		li
			i.icon-art_date
			.article--info
				span Дата: 
				b.article--info--anchor 2015-04-27 в 21:30
	.article--media
		img(src="img/article_photo.jpg", alt="")
	p
		| Приветствую вас, друзья! <br>
		| Сегодня отличный день, несмотря на то, что понедельник, 
		| который для многих просто ужасный своим началом рабочей недели. 
		| Именно в понедельник родился и я, но это уже другая история. 
		| Сегодня заказал дизайн блога, так что скоро вы увидите прекрасный 
		| новый вид блога, целью которого есть нести помощь людям в виде 
		| советов на различную тематику. Так что, ждем.
	ul.article--info__bottom.left
		li
			i.icon-art_heading
			.article--info
				span Рубрика: 
				a(href="#").article--info--anchor Полезные советы
		li
			i.icon-art_comments
			.article--info
				span Комментарии: 
				b.article--info--anchor 136

	a.button.right(href="#") Читать полностью
	hr.clearfix