footer.l-footer.row
	ul.l-footer--menu
		li.l-footer--menu--item
			a(href="index.php")	Главная
		li.l-footer--menu--item
			a(href="articles.php") Все статьи блога
		li.l-footer--menu--item
			a(href="about.php") Об Авторе
		li.l-footer--menu--item
			a(href="post.php")Реклама
		li.l-footer--menu--item
			a(href="competition.php") Конкурсы
		li.l-footer--menu--item
			a(href="feed_back.php") Обратная связь

	.l-footer--copyright.left
		|2015
		a(href="tips-life.ru") tips-life.ru <br>
		| Блог Максима Козлова

	.l-footer--stats.right
		img(src="img/liveinternet.png", alt="")

script(src="js/app.js")
