head
	title Блог Максима Козлова
	meta(charset="utf-8")

	|<!--[if lt IE 9]>
	|  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
	|  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
	|  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
	|  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
	|<![endif]-->

	meta(name="viewport", content="width=device-width, initial-scale=1")
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400italic&subset=cyrillic' rel='stylesheet' type='text/css'>
	link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic,100&amp;ubset=latin,cyrillic', rel='stylesheet', type='text/css')
	link(rel="stylesheet", href="css/app.css")
