header.l-header.row
	.interest
		h3.interest--header: Это интересно!
		ul.interest--list
			li.interest--list--item
				a(href="post.php") конкурсы
			li.interest--list--item
				a(href="post.php") видеокурсы
			li.interest--list--item
				a(href="post.php") кроссворды
			li.interest--list--item
				a(href="post.php") акции

	ul.l-header--menu
		li.l-header--menu--item
			a(href="index.php")	Главная
		li.l-header--menu--item
			a(href="articles.php") Все статьи блога
		li.l-header--menu--item
			a(href="about.php") Об Авторе
		li.l-header--menu--item
			a(href="post.php")Реклама
		li.l-header--menu--item
			a(href="competition.php") Конкурсы
		li.l-header--menu--item
			a(href="feed_back.php") Обратная связь
