form.subscribe.mb20
	h3.subscribe--title Получать новые статьи блога на почту
	.subscribe--letter
	input.subscribe--input(placeholder="Введите свой e-mail", type="text")
	button.subscribe--button.button Подписатся
	.subscribe--icons
		a.subscribe--icons--rss.icon-mail_g
		a.subscribe--icons--google.icon-mail_rss