.tags.mb20
	h4.tags--title рубрики блога
	ul.tags--list
		li.tags--one-tag
			i.icon-blog
			a(href="#") Блоговедение
		li.tags--one-tag
			i.icon-life
			a(href="#") Из жизни
		li.tags--one-tag
			i.icon-garden
			a(href="#") Дачные хитрости
		li.tags--one-tag
			i.icon-news
			a(href="#") Новости
		li.tags--one-tag
			i.icon-home
			a(href="#") Дом
		li.tags--one-tag
			i.icon-good
			a(href="#") Полезные советы
		li.tags--one-tag
			i.icon-food
			a(href="#") Еда
		li.tags--one-tag
			i.icon-book
			a(href="#") Саморазвитие
		li.tags--one-tag
			i.icon-money
			a(href="#") Заработок