.top-authors.mb20
	h4.top-authors--title топ комментаторов
	ul.top-authors--list.small-block-grid-3.text-center
		- for (var x = 0; x < 5; x++)
			li.top-authors--list--one
				a(href="#")
					img(src="img/auth_comm.jpg", alt="")
				i 1414
				a(href="#") Василий Василиевич Васильев